.page-reporting-rate {
  ion-toolbar {
    --background: #1d434e;
    --color: #fff;
  }

  // .filters {
  //   margin-top: 10px;
  //   display: flex;
  //   align-items: center;

    // .region-label {
    //   display: flex;
    //   align-items: center;
    //   margin-top: 10px;

    //   // .label-text {
    //   //   font-size: 1.2em;
    //   //   color: #1d434e;
    //   //   margin-top: 15px;
    //   // }
    // }

    // .search-col {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    // }
  // }

  .reporting-period {
    margin-top: 10px;

    h3 {
      text-align: center;
      color: #1d434e;
    }
  }

  ion-content {
    --padding-start: 15px;
    --padding-end: 15px;

    ion-item.header {
      background-color: #f1f1f1;
      font-weight: bolder;

      ion-label {
        color: #1d434e;
      }
    }

    ion-item {
      --border-color: #1d434e;
      border-radius: 10px;
      margin-bottom: 10px;

      ion-label {
        color: #1d434e;
      }
    }

    ion-item-divider {
      background-color: #f1f1f1;
      font-size: 1.2em;
     
      ion-label {
        color: #1d434e;
      }
    }

    .progress-container {
      display: flex;
      align-items: center;

      ion-progress-bar {
        width: 100px;
        height: 20px;
        margin-right: 10px;
        border-radius: 10px;
      }

      .rate {
        font-weight: bold;
        color: #1d434e;
      }
    }
  }
}
