<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Notifications</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="notifications">
       <ul>
      <li *ngFor="let notification of notifications" class="notification-card">
        <div class="notification-content">
          <h3>{{ notification.subject }}</h3>
          <p>{{ notification.message }}</p>
          <small>{{ notification.createdTime | date:'medium' }}</small>
        </div>
      </li>
    </ul>
  </div>
</ion-content>