
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="subhome">
      <ion-icon name="home-sharp"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="programmes">
      <ion-icon name="create-sharp"></ion-icon> Programmes
    </ion-tab-button>
    <ion-tab-button tab="stock-reports">
      <ion-icon name="bar-chart-sharp"></ion-icon> Stock Summary
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="settings-sharp"></ion-icon> Settings
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>