<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="width: 150%;">Change Password</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>
<ion-content [fullscreen]="true">

  <div>
    <ion-img class="logoimg" src="assets/6183517_3071357.jpg" alt=""></ion-img>
  </div>
  <div class="form-container">
    <ion-row *ngIf="showSuccessMessage" class="message success">
      <ion-col size="12">
        <ion-label class="message-text">Password changed successfully!</ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="showErrorMessage" class="message error">
      <ion-col size="12">
        <ion-label class="message-text">Failed to change password. Please try again.</ion-label>
      </ion-col>
    </ion-row>

    <ion-item lines="none" style="margin-bottom:20px; border-radius: 20px; align-items: center;--background: #d9d9d9;  ">
      <ion-label position="floating">Old Password</ion-label>
      <ion-input type="password" placeholder="Enter password" [(ngModel)]="oldPassword"></ion-input>
    </ion-item>
    <ion-item lines="none" style="margin-bottom:20px; border-radius: 20px; align-items: center;--background: #d9d9d9;  ">
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="password" placeholder="Enter password" [(ngModel)]="newPassword"></ion-input>
    </ion-item>
    <ion-item lines="none" style="margin-bottom:20px; border-radius: 20px; align-items: center;--background: #d9d9d9;  ">
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" placeholder="Enter password" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>

    <ion-button style="margin-top: 50px; border-radius: 25px; --background: #9e1c25;" (click)="changePassword()" expand="block">Change Password</ion-button>

  </div>
</ion-content>
