<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Inventory</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="form-group">
    <h3 style="font-weight: bold; width: 100%;  font-size: large;">Combined Oral Contraceptive Pill</h3>
    <p style="font-style: italic; font-size: small;">Please enter your details below. <span style="color: #9e1c25;">*</span>Marked items are mandatory</p>
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" class="custom-form">
      <div>
        <ion-label position="floating" style="margin-left: 15px; margin-bottom: 35px;  font-size: small;">Beginning Balance <span style="color: #9e1c25;">*</span></ion-label>
        <ion-item lines="none" style=" height: 24px;">
          <ion-input formControlName="beginningBalance" type="number" style="--background: #fefefe; height: 14px; font-size: 10px; font-weight: bold;"></ion-input>
        </ion-item>
      </div>      
      <div>
        <ion-label position="floating" style="margin-left: 15px; margin-top: 15px;  font-size: small;">Received <span style="color: #9e1c25;">*</span></ion-label>
        <ion-item lines="none" >
          <ion-input formControlName="received" type="number" style="--background: #ffffff; height: 14px; font-size: 10px; font-weight: bold;"></ion-input>
        </ion-item>
      </div>  
      <div>
        <ion-label position="floating" style="margin-left: 15px; margin-top: 15px; font-size: small;">Dispensed<span style="color: #9e1c25;">*</span></ion-label>
        <ion-item  lines="none">
          <ion-input formControlName="dispensed" type="number" style="--background: #ffffff;height: 14px; font-size: 10px; font-weight: bold;"></ion-input>
        </ion-item>
      </div>
      <div>
        <ion-label position="floating" style="margin-left: 15px; margin-top: 15px; font-size: small;">Losses<span style="color: #9e1c25;">*</span></ion-label>
        <ion-item  lines="none">
          <ion-input formControlName="losses" type="number" style="--background: #ffffff; height: 14px; font-size: 10px; font-weight: bold;"></ion-input>
        </ion-item>
      </div>
      <div>
        <ion-label position="floating" style="margin-left: 15px; margin-top: 15px; font-size: small;">Positive Adjustment<span style="color: #9e1c25;">*</span></ion-label>
        <ion-item  lines="none">
          <ion-input formControlName="positiveAdjustment" type="number" style="--background: #ffffff;height: 14px; font-size: 10px; font-weight: bold;"></ion-input>
        </ion-item>
      </div>  
      <div>
        <ion-label position="floating" style="margin-left: 15px; margin-top: 15px; font-size: small;">Negative Adjustment<span style="color: #9e1c25;">*</span></ion-label>
        <ion-item  lines="none">
          <ion-input formControlName="negativeAdjustment" type="number" style="--background: #ffffff; ;height: 14px; font-size: 10px; font-weight: bold; "></ion-input>
        </ion-item>
      </div>
      <div>
        <ion-label position="floating" style="margin-left: 15px; margin-top: 15px; font-size: small;">Ending Balance <span style="color: #9e1c25;">*</span></ion-label>
        <ion-item  lines="none">
          <ion-input formControlName="endingBalance" type="number" style="--background: #ffffff; height: 14px; font-size: 10px; font-weight: bold;"></ion-input>
        </ion-item>
      </div>
      <div>   
        <ion-label position="floating" style="margin-left: 15px; margin-top: 15px; font-size: small;">Quantity Requested <span style="color: #9e1c25;">*</span></ion-label> 
        <ion-item  lines="none">
          <ion-input formControlName="quantityRequested" type="number" style="--background: #ffffff; height: 14px; font-size: 10px; font-weight: bold;"></ion-input>
        </ion-item>
      </div>
      <div>
        <ion-label position="floating" style="margin-left: 15px; margin-top: 15px; font-size: small;"l>Days Out of Stock <span style="color: #9e1c25;">*</span></ion-label>
        <ion-item  lines="none">
          <ion-input formControlName="daysOutOfStock" type="number" style="--background: #ffffff; height: 14px; font-size: 10px; font-weight: bold;"></ion-input>
        </ion-item>
      </div>
      <div> 
        <ion-label position="floating" style="margin-left: 15px; margin-top: 15px; font-size: small;">Comments</ion-label>
        <ion-item  lines="none" style="height: 50px;">
          <ion-textarea formControlName="comments"  style="--background: #ffffff;  height: 100%;height: 14px; font-size: 10px; font-weight: bold;"></ion-textarea>
        </ion-item>
      </div> 
      
      <ion-button expand="block" type="submit" [disabled]="!reactiveForm.valid" style="margin-top: 25px;">Submit</ion-button>
    </form>
  </div>
</ion-content>
