<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Programme Summary</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-col>
        <ion-card-title>{{ programmeName }}</ion-card-title>
      </ion-col>
      <ion-col class="ion-text-end date-col">
        <ion-card-title>{{ currentDate | date: 'MMMM-yyyy' }}</ion-card-title>
      </ion-col>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-row class="name">{{ countyName }}</ion-row>
    </ion-card-header>
  </ion-card>

  <ion-card><ion-toolbar color="light">
      <ion-select [(ngModel)]="selectedSubcounty" (ionChange)="onSubcountyChange()" placeholder="Select Subcounty">
        <ion-select-option *ngFor="let subcounty of filteredSubCounties" [value]="subcounty">
          {{ subcounty.subCountyName }}
        </ion-select-option>
      </ion-select>
    </ion-toolbar>
  </ion-card>

  <!-- List Subcounties and their Facilities -->
  <ng-container *ngIf="selectedSubcounty">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="heading-bold">{{ selectedSubcounty.subCountyName }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-card-title class="bold">Facility</ion-card-title>
          </ion-col>
          <ion-col class="ion-text-end">
            <ion-card-title class="heading-bold">Status</ion-card-title>
          </ion-col>
        </ion-row>
        <ion-list>
          <ng-container *ngFor="let facility of selectedSubcounty.facilities">
            <ion-item>
              <ion-label>
                {{ facility.facilityName }}
              </ion-label>
              <ion-label slot="end">
                <div class="status-div" [ngClass]="getStatusColor(facility.status)"
                  (click)="navigateToInventorySummary(programmeId, facility, selectedSubcounty.subCountyName, selectedSubcounty.subCountyId, countyId, countyName)">
                  {{ facility.status }}
                </div>
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
        
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>