<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Programme Summary</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleSearchBar()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-col>
        <ion-card-title>{{ programmeName }}</ion-card-title>
      </ion-col>
      <ion-col class="ion-text-end date-col">
        <ion-card-title>{{ currentDate | date: 'MMMM-yyyy' }}</ion-card-title>
      </ion-col>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-row class="name">{{subcountyName}}</ion-row>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-row>

        <ion-col>
          <ion-card-title class="heading-bold">Facility</ion-card-title>
        </ion-col>

        <ion-col class="ion-text-end">
          <ion-card-title class="heading-bold" style="margin-right: 30px;">Status</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>

      <ion-toolbar *ngIf="showSearchBar" color="light">
        <ion-searchbar [(ngModel)]="searchStatus" (ionInput)="filterFacilitiesByStatus()"
          placeholder="Search by status"></ion-searchbar>
      </ion-toolbar>

      <ion-list>
        <ion-item *ngFor="let facility of filteredFacilities || facilities">
          <ion-label>
            {{ facility.facilityName }}
          </ion-label>
          <ion-label slot="end">
            <div class="status-div" [ngClass]="getStatusColor(facility.status)"
              (click)="navigateToInventoryApproval({ programmeId: programmeId }, facility)">
              {{ facility.status }}
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
      
    </ion-card-content>
  </ion-card>
</ion-content>