<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToNotifications()">
        <ion-icon name="notifications-outline" class="notification-icon"></ion-icon>
        <span class="badge" *ngIf="newNotificationsCount > 0">{{ newNotificationsCount }}</span>
      </ion-button>
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-row class="align-center">
        <ion-col size="6">
          <ion-card-title>{{ userType }} </ion-card-title>
        </ion-col>
        <ion-col size="6" class="ion-text-end">
          <div class="date-selectors">
            <ion-select placeholder="Select Month" [(ngModel)]="selectedMonth">
              <ion-select-option *ngFor="let month of months" [value]="month">{{ month }}</ion-select-option>
            </ion-select>

            <ion-select placeholder="Select Year" [(ngModel)]="selectedYear">
              <ion-select-option *ngFor="let year of years" [value]="year">{{ year }}</ion-select-option>
            </ion-select>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card-subtitle>Displaying {{ selectedMonth }} - {{ selectedYear }}</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>

  <!-- Search bar is directly included here -->
  <ion-card>
    <ion-card-header>
      <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="filterCounties()" placeholder="Search County"></ion-searchbar>
    </ion-card-header>
  </ion-card>

  <ion-card *ngFor="let county of filteredCounties">  
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-card-title class="heading-bold">
            {{ county.countyName }}
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let programme of county.programmes">
          <ion-label (click)="navigateToProgrammeSummary(programme, county)">
            {{ programme.programmeName }}
            <ion-progress-bar [value]="programme.reportingRate" [color]="getProgressBarColor(programme.reportingRate)">
            </ion-progress-bar>
            <p [ngClass]="getStatusColor(programme.reportingRate)" class="reporting-rate-text">
              Reporting Rate: {{ programme.reportingRate | percent }}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
