<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="custom-profileHeaders">Privacy</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="custom-heading">
    <ion-text >
      <h1 style="font-family: 'Garamond', 'Times New Roman', serif; color: black; font-weight: 800; margin-left: 20px;">{{ messageTemplate?.subject }}</h1>
    </ion-text>
  </div>
  <div *ngIf="messageTemplate" class="custom-text">
    <ion-text >
      <p style="font-family: 'Garamond', 'Times New Roman', serif; color: black; font-size: large;">{{ messageTemplate.message }}</p>
    </ion-text>
  </div>
  <div *ngIf="!messageTemplate">
    <p style="font-family: 'Garamond', 'Times New Roman', serif; color: black; font-size: large;">Loading message template...</p>
  </div>
</ion-content>