.status-container {
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: fit-content;
  }
  
  .status-green {
    background-color: lightgreen;
  }
  
  .status-amber {
    background-color: lightgoldenrodyellow;
  }
  
  .status-red {
    background-color: lightcoral;
  }
  
  